android/build/
android/.idea/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
demo
.gradle/
.settings/
.DS_Store
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/react-native-plugin-zhugeio.iml
.idea/vcs.xml
.idea/codeStyles/Project.xml
